BODY {background: white; color: black;}

P { max-width: 66em; }

H1, H2, H3 {font-weight: bold;}
H1 {font-size: 134%;}
H2 {font-size: 117%;}
H3 {font-size: 100%;}

TABLE, TR, TH, TD {border: 1px solid black; border-collapse: collapse;}
TH {text-align: left;}
TH, TD {padding: 0.2em;}

span.puzzle {display: -moz-inline-box;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    width: 200px;}
span.puzzle table {width: 200px; align: top; }
span.puzzle table p {width: 200px; }
span.puzzle th {text-align: center; }
span.puzzle table,tr,th,td {border: none; }
p.announcement { margin: 1em; padding: 1em; border: 0.3em solid red; }
